{% extends 'calendarapp/base.html' %}
{% load static %}
{% block extra_js %}
<script src="{% static '/signupstyling.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 card mt-3">
            <div class="card-body text-center mt-3">
                <h2>Sign up</h2>
                <p>Already have an account? Back to <a href="{% url 'login' %}">Login</a></p>
                <form method="post">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
            </div>
            </div>
            </div>
            </div>
{% endblock %}