{% extends 'calendarapp/base.html' %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Log In</h2>
            <h3>Welcome to Kalendr!</h3>
            <h4>Please log in to continue</h4>
            <h5>Don't have an account? <a href="{% url 'createaccount' %}">Create one here!</a></h5>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log In</button>
            </form>
        </div>
    </div>
</div>


{% endblock body%}